       - op: add
         path: "/spec/replicas"
         value: {{ web_replicas | default(0) | int }}
       - op: add
         path: "/spec/task_replicas"
         value: {{ task_replicas | default(0) | int }}
